body {
  background: #f5f5f5;
}
.container {
  width: 600px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 50vh;
  margin: 12% auto 0;
}
.card {
  flex: 1;
  border-radius: 100px;
  margin: 0;
  padding: 0;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  transition: all 500ms cubic-bezier(0.14, 0.69, 0.93, 1);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}
.card:hover {
  flex-basis: 35vw;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}
