* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  max-height: 90px;
  background-color: #fff;
  position: absolute;
  width: 100%;
  top: 0;
  border: 1px solid gray;
  left: 0;
}

#hamburger {
  font-size: 30px;
}

.logo {
  font-size: 25px;
  font-weight: 600;
}

.navbar {
  display: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: rgba(88, 74, 209, 0.733);
  border: 1px solid gray;
}

.main-content {
  padding: 5px;
  margin-top: 65px;
  background: url("../images/club-hero.jpg") no-repeat 15% 100% / cover;
  height: 90vh;
}

.main-text {
  font-size: 150%;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  width: 70%;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: block;
  }

  #hamburger {
    display: none;
  }

  #nav-list {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .nav-link {
    font-size: 18px;
    font-weight: 500;
    border-radius: 20%;
    padding: 10px;
  }

  .nav-link:hover {
    background-color: #f1f1f1;
    color: orangered;
    text-decoration: underline;
  }

  .main-content {
    margin-top: 60px;
  }

  .active {
    text-decoration: underline;
  }
}
