* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  max-height: 90px;
  background-color: #fff;
  position: absolute;
  width: 100%;
  top: 0;
  border: 1px solid gray;
  left: 0;
}

.logo {
  font-size: 25px;
  font-weight: 600;
}

.navbar {
  display: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid gray;
}

.main-content {
  padding: 5px;
  margin-top: 70px;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: block;
  }

  #hamburger {
    display: none;
  }

  #nav-list {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
