/*courses section*/
#course {
  padding: 20px;
  /*background-image: url('../divemaster.jpg');*/
  background-position: top;
  background-repeat: repeat;
  /*background-size: cover;*/
}

.featured-course-container {
  display: flex;
  padding: 50px 0px;
  flex-direction: column;
}

.featured-course-video {
  flex: 3;
  display: flex;
  align-items: center;
}

.featured-course-video iframe {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 8 #626262;
}

.featured-course-content {
  flex: 2;
}

.grey {
  color: grey;
}

.featured-course-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #333333;
  margin-top: 20px;
}

.featured-course-description {
  color: #333333;
  margin: 10px 0px;
  line-height: 25px;
}

.featured-course-icons-container {
  margin: 30px 0px;
}

.icons-raw {
  display: flex;
  justify-content: flex-start;
}

.icon-heading {
  flex: 1;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #626262;
}

.icon-heading i {
  color: #3b4fe4;
}

.btn-blue {
  background-color: #3b4fe4;
  border: 1px solid #3b4fe4;
  color: #fff;
}

/* Resize all pictures*/

picture {
  max-width: 100%;
  max-width: 100%;
  width: 300px;
  height: 300px;
}

/*More courses*/

.more-courses-container {
  padding: 50px 0px;
  display: flex;
  align-self: center;
  flex-direction: column;
}

.course {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.2), 0 2px 10px 0 rgb(0, 0, 0, 0.19);
  background-color: #fff;
  border-radius: 20px;
  margin: 10px;
}

.course-img {
  width: 100%;
}

.course-img img {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}

.course-body {
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
}

.course-category {
  color: #626262;
  text-transform: uppercase;
  font-size: 12px;
  margin: 5px 0px;
}

.course-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
  margin-top: 5px;
}

.course-icons-row {
  display: flex;
  justify-content: space-between;
}

.course-icon-heading {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #626262;
}

.course-btn {
  margin: 10px auto;
  transition: 0.3s;
}

.course-btn:hover {
  background-color: #ff0000;
  border-color: #ff0000;
}

.dots-right {
  display: flex;
  justify-content: flex-end;
  z-index: -1;
  margin-bottom: -300px;
  height: 300px;
}

@media screen and (min-width: 768px) {
  .featured-course-container {
    display: flex;
    padding: 50px 0px;
    flex-direction: row;
  }

  .more-courses-container {
    padding: 50px 0px;
    align-self: center;
    flex-direction: row;
  }

  .more-courses-video {
    flex: 3;
    display: flex;
    align-items: center;
    width: 50%;
    border: 2px solid red;
  }

  .featured-course-video iframe {
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 8 #626262;
  }
}
