@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  max-height: 90px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  border: 1px solid gray;
  left: 0;
  z-index: 1;
}

#hamburger {
  font-size: 30px;
}

.logo {
  font-size: 25px;
  font-weight: 600;
}

.navbar {
  display: none;
}

#nav-list a {
  color: black;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid gray;
  max-height: 40px;
}

.main-content {
  padding: 5px;
  margin-top: 65px;
  background: url("../images/club-hero.jpg") no-repeat 15% 100% / cover;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.9);
}

.main-text {
  font-size: 150%;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  width: 70%;
}

#h2 {
  font-size: 120%;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  width: 70%;
  text-transform: uppercase;
}

.social-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}

.social-list i {
  font-size: 20px;
  color: black;
}

.social-list li:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  color: orangered;
}

.container {
  width: 100%;
  border-radius: 5%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.container h1 {
  font-size: 32px;
  font-weight: 600;
  width: 90%;
  height: auto;
  color: #fff;
  padding-left: 10px;
}

.container p {
  font-size: 120%;
  font-weight: bolder;
  text-align: start;
  padding: 10px;
  color: #fff;
  max-height: 200px;
}

.absolute {
  position: absolute;
  bottom: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#signup,
#join {
  width: 100px;
  height: 30px;
  border-radius: 2%;
  background-color: goldenrod;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#join:hover {
  cursor: pointer;
  background-color: orangered;
  color: #fff;
}

#signup:hover {
  cursor: pointer;
  background-color: orangered;
  color: #fff;
}

.place {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  margin-bottom: 40px;
}

.place .places {
  background-color: rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 5%;
}

.place .places:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

.place .img1 {
  background: url("../images/Coral-Nurture-Program-team-from-Passions-Of-paradise.jpg")
    no-repeat center center / cover;
}

.place .img2 {
  background: url("../images/cozumel-scuba-diving.jpg") no-repeat center center /
    cover;
}

.place .img3 {
  background: url("../images/discover_scuba_diving_course-3457163803-1.jpg")
    no-repeat center center / cover;
}

.place .img4 {
  background: url("../images/images.jpg") no-repeat center center / cover;
}

.place .img5 {
  background: url("../images/images\ \(1\).jpg") no-repeat center center / cover;
}

.place .img6 {
  background: url("../images/images\ \(3\).jpg") no-repeat center center / cover;
}

.place .img7 {
  background: url("../images/images\ \(5\).jpg") no-repeat center center / cover;
}

.place .img8 {
  background: url("../images/Sipadan-2.jpg") no-repeat center center/ cover;
}

.place .img9 {
  background: url("../images/5b21563f7dd33_sized.jpg") no-repeat center center /
    cover;
}

.place .img10 {
  background: url("../images/67.jpg") no-repeat center center / cover;
}

.place .img11 {
  background: url("../images/Coral-Nurture-Program-team-from-Passions-Of-paradise.jpg")
    no-repeat center center / cover;
}

.place .img12 {
  background: url("../images/club-hero.jpg") no-repeat 15% 100% / cover;
}

.place .img13 {
  background: url("../images/logo-search-grid-2x.png") no-repeat center center /
    cover;
}

@media screen and (min-width: 375px) {
  .absolute {
    position: absolute;
    bottom: 110px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }

  .container {
    margin-top: 20px;
  }
}

@media screen and (min-width: 425px) {
  .absolute {
    bottom: 150px;
  }

  .container {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    display: block;
  }

  #hamburger {
    display: none;
  }

  #nav-list {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .nav-link {
    font-size: 18px;
    font-weight: 500;
    border-radius: 10%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #nav-list .nav-link:hover {
    background-color: orangered;
    color: #fff;
    text-decoration: underline;
  }

  .main-content {
    margin-top: 60px;
  }

  .active {
    text-decoration: underline;
  }

  .content {
    padding: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
  }

  .container {
    width: 60%;
    padding: 5px;
    border-radius: 0%;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .absolute {
    position: absolute;
    bottom: 175px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: auto;
    right: 120px;
  }
}

@media screen and (min-width: 1024px) {
  .main-content {
    margin-top: 60px;
  }

  .content {
    padding: 5px;
    justify-content: end;
    align-items: center;
    width: 100%;
    min-height: 50vh;
  }
  .content h1 {
    font-size: 50px;
    font-weight: bolder;
    width: 90%;
    height: auto;
    color: #fff;
    padding-left: 10px;
  }

  .content p {
    font-size: 120%;
    text-align: start;
    padding: 10px;
    color: #fff;
    max-height: 200px;
  }

  .absolute {
    position: absolute;
    bottom: 200px;
    right: 395px;
  }
}
